.main-layout-theme .color-bg, .main-layout-theme .morphsearch.open, .main-layout-theme .wizard .steps .current a, .main-layout-theme .dropdown-menu li a:hover, .main-layout-theme .profile-page .profile-sub-header .box-list ul li a:hover, .main-layout-theme .fc .fc-toolbar, .main-layout-theme .blog-page .single-blog-post .img-holder .date-box { background:linear-gradient(325deg, #dd5e89, #f7bb97); }
.main-layout-theme .navbar-brand { color: #fff; }
.main-layout-theme .navbar-brand:hover { color: #fff; }
.main-layout-theme .navbar-brand:active { color: #fff; }
.main-layout-theme .navbar-brand:focus { color: #fff; }
.main-layout-theme .nav > li > a { color: #fff; }
.main-layout-theme .nav > li > a:hover { background-color: transparent; }
.main-layout-theme .nav > li > a:focus { background-color: transparent; }
.main-layout-theme .nav .open > a { background-color: transparent; }
.main-layout-theme .nav .open > a:hover { background-color: transparent; }
.main-layout-theme .nav .open > a:focus { background-color: transparent; }
.main-layout-theme .bars { color: #fff; }
.main-layout-theme .sidebar .menu .list li.active { background-color: transparent; }
.main-layout-theme .sidebar .menu .list li.active >:first-child i, .main-layout-theme .sidebar .menu .list li.active >:first-child span, .main-layout-theme .morphsearch .dummy-column h2 { color: #f7bb97; }
.main-layout-theme .sidebar .menu .list .toggled { background-color: transparent; }
.main-layout-theme .sidebar .menu .list .ml-menu { background-color: transparent; }
.main-layout-theme .sidebar .legal .copyright a { color: #f7bb97 !important; }
.main-layout-theme .nav-tabs>li>a:before, .main-layout-theme .input-group .form-line:after { border-bottom: 2px solid #f7bb97; }