<script type="text/html" id="editForm">

    @*<div class="input-group">*@
        <div class="form-group col-sm-12" >
            <label style="text-align:left; margin-bottom:15px; margin-top:5px;" for="userDetails-userName" class="keys control-label col-sm-3">Email</label>
            <div class="keys col-sm-9">
                <input readonly="readonly" class="form-control" id="userDetails-userName" style="padding-left:15px" placeholder="User Name" data-bind="value: UserName" />
                </div>
        </div>

        <div class="input-group col-sm-12">
            <label style="text-align:left" for="userDetails-firstName" class="keys control-label col-sm-3">First Name <span style="color:red;">*</span></label>
            <div class="keys col-sm-9">
                @*<div class="form-line">*@
                <input type="text" class="form-control"  id="userDetails-firstName" style="padding-left:8px" placeholder="First Name" data-bind="value: FirstName" />
                @*</div>*@
            </div>
        </div>

        <div class="input-group col-sm-12">
            <label style="text-align:left" for="userDetails-middleName" class="keys control-label col-sm-3">Middle Name</label>
            <div class="keys col-sm-9">
                @*<div class="form-line">*@
                <input type="text" class="form-control" id="userDetails-middleName" style="padding-left:8px"  placeholder="Middle Name" data-bind="value: MiddleName" />
                @*</div>*@
            </div>
        </div>

    <div class="input-group col-sm-12">
        <label style="text-align:left" for="userDetails-lastName" class="keys control-label col-sm-3">Last Name <span style="color:red;">*</span></label>
        <div class="keys col-sm-9">
            @*<div class="form-line">*@
            <input type="text" class="form-control" id="userDetails-lastName" style="padding-left:8px"  placeholder="Last Name" data-bind="value: LastName" />
            @*</div>*@
        </div>
    </div>

    <div class="input-group col-sm-12">
        <label style="text-align:left" for="userDetails-language" class="keys control-label col-sm-3">Language</label>
        <div class="keys col-sm-9">
            @*<div class="form-line">*@
            <input type="text" class="form-control" id="userDetails-language" style="padding-left:8px"  placeholder="Language" data-bind="value: Language" />
            @*</div>*@
        </div>
    </div>


    <div class="input-group col-sm-12">
        <label style="text-align:left" for="userDetails-placeOfBirth" class="keys control-label col-sm-3">Place Of Birth</label>
        <div class="keys col-sm-9">
            @*<div class="form-line">*@
            <input type="text" class="form-control" id="userDetails-placeOfBirth" style="padding-left:8px"  placeholder="Place Of Birth" data-bind="value: PlaceOfBirth" />
            @*</div>*@
        </div>
    </div>

    <div class="input-group col-sm-12">
        @*<label for="userDetails-role" class="control-label col-sm-3">Role</label>*@
        <label style="text-align:left" for="userDetails-role" class="keys control-label col-sm-3">Role</label>
        <div class="keys col-sm-9">
            <div class="form-line">

                <select class="form-control" data-bind="options: ">
                    <option value="value"></option>
                </select>

            </div>
        </div>
    </div>





        @*<div class="form-group col-sm-12">
                <label for="userDetails-firstName" class="keys control-label">First Name</label>
                <div class="keys">
                    <div class="form-line">
                        <input type="text" class="form-control" id="userDetails-firstName" placeholder="First Name" data-bind="value: FirstName" />
                        </div>
                    </div>
            </div>*@
        @*<div class="form-group col-sm-12">
                <label for="userDetails-middleName" class="keys control-label">Middle Name</label>
                <div class="keys">
                    <input type="text" class="form-control" id="userDetails-middleName" placeholder="Middle Name" data-bind="value: MiddleName" />
                </div>
            </div>*@
        @*<div class="form-group col-sm-12">
                <label for="userDetails-lastName" class="keys control-label">Last Name</label>
                <div class="keys">
                    <input type="text" class="form-control" id="userDetails-lastName" placeholder="Last Name" data-bind="value: LastName" />
                </div>
            </div>*@
        @*<div class="form-group col-sm-12">
                <label for="userDetails-language" class="keys control-label">Language</label>
                <div class="keys">
                    <input type="text" class="form-control" id="userDetails-language" placeholder="Language" data-bind="value: Language" />
                </div>
            </div>*@
        @*<div class="form-group col-sm-12">
                <label for="userDetails-placeOfBirth" class="keys control-label">Place Of Birth</label>
                <div class="keys">
                    <input type="text" class="form-control" id="userDetails-placeOfBirth" placeholder="Place Of Birth" data-bind="value: PlaceOfBirth" />
                </div>
            </div>


            TODO



    <div class="form-group col-sm-12">
        <label for="userDetails-role" class="control-label col-sm-3">Role<span style="color:red">*</span></label>
        <div class="keys col-sm-9">
            <select class="form-control" data-bind="options: ">
                <option value="value"></option>
            </select>
        </div>
    </div>*@

</script>