@model KeysPlus.Service.Models.ForgotViewModel
@{
	ViewBag.Title = "Forgot Password Confirmation";
}


@section ModuleStyle{
    @Styles.Render("~/content/loginModuleStyle")
}
<div class="login-page authentication">
    <div class="container form-container">
        
            <div class="card" style="width:120%;">

                <h4 class="title"><span>Keys</span>Forgot Password Confirmation <span class="msg">Please check your email to reset your password.</span></h4>


            </div>

        </div>
    </div>
   