@{
    ViewBag.Title = "About";
}
<div class="col-xs-offset-3 col-xs-6">
    <h2 class="text-center">About Property.Community</h2>
    <p class="text-justify">Suspendisse interdum sem ac tempor consequat. Cras lorem enim, convallis sed mi ac, ullamcorper scelerisque nisi. Phasellus sit amet enim id diam aliquet porttitor. Vivamus imperdiet sem eget feugiat varius. Nullam ut nisl eget erat pretium volutpat vitae et justo. Aliquam mauris turpis, placerat scelerisque leo sit amet, congue porta felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus vel velit rhoncus fermentum facilisis vel mauris. Integer facilisis efficitur facilisis. Nullam malesuada sollicitudin est eu facilisis. Aliquam a mauris sit amet massa sollicitudin rutrum accumsan vitae mauris. Sed dolor sem, interdum in dapibus quis, bibendum quis sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
