<div id="rentalApplicationForm2">

    <div class="input-group">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >

           
            <div id="rentalDetails" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="keys control-label col-sm-3">Rental Listing Id <span style="color:red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control" style="margin-bottom:15px; padding-left:8px" placeholder="Name" @*data-bind="value: Name" href="#Name"*@>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="keys control-label col-sm-3">PropertyName <span style="color:red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="margin-bottom:15px; padding-left:8px" placeholder="PropertyName" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="keys control-label col-sm-3">Tenant Count <span style="color:red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="margin-bottom:15px; padding-left:8px" placeholder="4">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="keys control-label col-sm-3">Note <span style="color:red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="margin-bottom:15px; padding-left:8px" placeholder="4" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="keys control-label col-sm-3">Note <span style="color:red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" style="margin-bottom:15px; padding-left:8px" placeholder="Note">
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-success"  style="margin-bottom:15px; text-align:center">Save & Continue</button>
                            <button type="button" class="btn btn-danger" style="margin-bottom:15px; text-align:center">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>



            </div>


        </div>

</div>