@model IPagedList<KeysPlus.Service.Models.PropertyTenantsModel>
<div class="pagedList text-center">
    @if (Model.PageCount == 1)
    {
        <div class="pagination-container">
            <ul class="pagination">
                <li class="disabled PagedList-pageCountAndLocation">
                    <a>Page 1 of 1.</a>
                </li>
            </ul>
        </div>
    }
    @Html.PagedListPager(Model, page => Url.Action("PropertyTenants", "Property",
    new
    {
        page = page,
        PropId = ViewBag.PropId,
        returnUrl = ViewBag.ReturnUrl
    }),
     new PagedListRenderOptions()
     {
         Display = PagedListDisplayMode.IfNeeded,
         DisplayPageCountAndCurrentLocation = true,
         MaximumPageNumbersToDisplay = 5
     })

</div>
