@if (!ViewData.ContainsKey("Type"))
{
    ViewData["Type"] = "";
}
<div class="carousel" data-ride="carousel" data-bind="attr :{id : 'detail-carousel'+ Model.Id() + '@ViewData["Type"].ToString()'}, visible:ImgFiles().length > 0">
    <div class="carousel-inner" style="margin:auto" data-bind="foreach: ImgFiles">
        <div class="item" data-bind="css:{active: $index() == 0}">
            <img class="ui centered image" data-bind="attr: {src: Data}"
                 onerror="this.src = '/images/no-prop-img.png'" alt="firstImg" style="width : 270px; height : 230px">
        </div>
    </div>

    <a class="left carousel-control" data-slide="prev" data-bind="attr : {href : '#' + 'detail-carousel'+ Model.Id() + '@ViewData["Type"].ToString()'}, if : ImgFiles().length > 1">
        <span class="fa fa-2x fa-angle-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-slide="next" data-bind="attr : {href : '#' + 'detail-carousel'+ Model.Id() + '@ViewData["Type"].ToString()'}, if : ImgFiles().length > 1">
        <span class="fa fa-2x fa-angle-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<img class="ui centered image" data-bind="visible:ImgFiles().length<=0" src="/images/no-prop-img.png" alt="noPropImg" style="width : 270px; height : 230px" />
