<div data-bind="visible:ImgFiles().length>0">
    <div class="carousel " data-ride="carousel" data-bind="attr :{id : 'carousel'+ Model.Id()}">
        <div class="carousel-inner" style="margin:auto" data-bind="foreach: ImgFiles">
            <div class="item" data-bind="css:{active: $index() == 0}">
                <img class="img-responsive img-thumbnail" data-bind="attr: {src: Data()}"
                     onerror="this.src = '/images/no-prop-img.png'" alt="firstImg">
            </div>
        </div>

        <a class="left carousel-control" data-slide="prev" data-bind="attr : {href : '#' + 'carousel'+ Model.Id()}, if : ImgFiles().length > 1">
            <span class="fa fa-2x fa-angle-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-slide="next" data-bind="attr : {href : '#' + 'carousel'+ Model.Id()}, if : ImgFiles().length > 1">
            <span class="fa fa-2x fa-angle-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div data-bind="visible:ImgFiles().length<=0">
    <img class="img-thumbnail" src="/images/no-prop-img.png" alt="noPropImg" />
</div>
