<script type="text/html" id="readAddress">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="h3">Physical Address</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7" style="margin-top:10px;">
                    <!--details coloum-->



                    <div class="row" style="line-height : 25px">
                        <div class="col-md-4" style="padding-right : 0px;">
                            <strong>Number:</strong>
                        </div>
                        <div class="col-md-8">
                            <span data-bind="text:Number"></span>
                        </div>
                    </div>
                    <div class="row" style="line-height : 25px">
                        <div class="col-md-4" style="padding-right : 0px;">
                            <strong>Street:</strong>
                        </div>
                        <div class="col-md-8">
                            <span data-bind="text: Street"></span>

                        </div>
                    </div>
                    <div class="row" style="line-height : 25px">
                        <div class="col-md-4" style="padding-right : 0px;">
                            <strong>Post Code:</strong>
                        </div>
                        <div class="col-md-8">
                            <span data-bind="text:PostCode"></span>
                        </div>
                    </div>
                    <div class="row" style="line-height : 25px">
                        <div class="col-md-4" style="padding-right : 0px;">
                            <strong>City:</strong>
                        </div>
                        <div class="col-md-8">
                            <span data-bind="City"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
