.validationMessage{
    color : crimson;
    margin-bottom : 10px;
    text-align: left;
    font-size: 12px;
    float: left;
}
.onboard-dropdown {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }
.clear{
    clear : both;
}